html {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	color: #7C90CF;;
}

body,
h1,
p,
ul,
li,
 {
	margin: 0;
}

ul,ol {
	list-style: none;
}

button,
 {
	font: inherit;
	border: none;
}

button, {
	background: none;
	cursor: pointer;
}

body {
	background-color:#7C90CF;
}

.wrapper {
	width: 500px;
	background-color: white;
	border-radius: 20px;
	margin: 0 auto;
	padding: 30px;	
	margin-top: 200px;
}

h1 {
	text-align: center;
	font-weight: 700;	
	font-size: 50px;
	}

.quote-container {
display: flex;
justify-content: center;
margin-top: 20px;
}

.quote {
	margin: 0 20px;
}

.author-container {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

span {
	font-family: monospace;
}

.buttons {
	margin-top: 40px;
}

.buttons-container {
	display: flex;
	justify-content: space-between;
}

.buttons-list {
	display: flex;
	gap: 20px;
}

.buttons-list li {
	border: 1px solid #7C90CF;
	border-radius: 50%;
	transition: all 1s;
}

.buttons-list li:hover {
background-color: #7C90CF;
color: #fff;
cursor: pointer;
}

.buttons-list li i {
	padding: 10px;
}

button {
	background-color: #7C90CF;
	border: 1px solid #7C90CF;
	border-radius: 20px;
	padding: 0 15px;
	color: #fff;
	transition: all 1s;
}

button:hover {
	background-color: #fff;
	color: #7C90CF;
}
